// Typographies

@font-face {
  font-family: 'Nunito';
  src: url(/src/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Orbitron';
  src: url(/src/assets/fonts/Orbitron/Orbitron/Orbitron-VariableFont_wght.ttf);
}