// Variables

// - Colors

$background_color: #d3eacc;
$components_color: #badfc5;
$secondary_color: #2C372E;
$accent_color: #0F2925;
$details_color: #465F3F;


// Effects

@mixin box-shadow($color) {
  box-shadow: rgba($color: $color, $alpha: 0.4) 0px 2px 4px, rgba($color: $color, $alpha: 0.3) 0px 7px 13px -3px, rgba($color: $color, $alpha: 0.4) 0px -3px 0px inset;;
}

@mixin box-gradient($color) {
  box-shadow: rgba($color: $color, $alpha: 0.4) 0px 5px, rgba($color: $color, $alpha: 0.3) 0px 10px, rgba($color: $color, $alpha: 0.2) 0px 15px, rgba($color: $color, $alpha: 0.1) 0px 20px, rgba($color: $color, $alpha: 0.05) 0px 25px;
}
