// Navbar items style

.navbar {
  display: flex;
  gap: 25px;
  border: 0.185em solid $details_color;
  border-radius: 0.9375em;
  padding: 10px 50px;

  &__button {
    appearance: none;
    background-color: transparent;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: $details_color;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 0;
    min-height: 3em;
    min-width: 0;
    outline: none;
    padding: 0.6em 2em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform, border;
  }
   
  &__button:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
   
  &__button:active {
      box-shadow: none;
      transform: translateY(0);
    }
  
  &__select {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid $details_color;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: $details_color;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 0;
    min-height: 3em;
    min-width: 10em;
    outline: none;
    padding: 0.6em 2em;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform, border;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23$details_color" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.7em center;
    background-size: 1em;
  }
  
  &__select:hover {
    border: 0.2em solid $details_color;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
  }  

  a.selected {
    text-decoration: underline;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;

    &__button {
      width: 100%;
      padding: 10px;
      font-size: 1.2em;
    }

    &__select {
      width: 100%;
      padding: 10px;
      font-size: 1.2em;
    }
  }
}
